In [1]:
print("Dictionaries")

Dictionaries

In [2]:
d = {'key1':'val', 'key2':123}

In [3]:
d['key1']

'val'

In [5]:
d['key2']

123

In [6]:
d

{'key1': 'val', 'key2': 123}

In [7]:
d = {'k1': [1,2,3]}

In [8]:
d

{'k1': [1, 2, 3]}

In [9]:
d['k1']

[1, 2, 3]

In [10]:
d['k1'][2]

3

In [12]:
d = {'k1':{'ik':[1,2,3]}}

In [14]:
d['k1']['ik'][1]

2

In [15]:
True

True

In [16]:
False

False

In [18]:
my_list = [1,2,3]

In [19]:
my_list[0]

1

In [28]:
print("Tuple")
t = (1,2,3)

Tuple

In [23]:
t[0]

1

In [24]:
my_list[0] = 'NEW'

In [25]:
my_list

['NEW', 2, 3]

In [26]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

In [37]:
print("Sets")
{1,2,3}

Sets

{1, 2, 3}

In [30]:
{1,2,2,2,2,3,3,3,3,4,4,4}

{1, 2, 3, 4}

In [31]:
set([1,1,1,1,1,2,2,2,3,3,3])

{1, 2, 3}

In [32]:
s = {1,2,3}

In [33]:
s.add(5)

In [34]:
s

{1, 2, 3, 5}

In [38]:
print("Comparison operators")

Comparison operators

In [39]:
1 >2

False

In [40]:
1<2

True

In [41]:
1==1

True

In [42]:
1==2

False

In [43]:
1!=2

True

In [44]:
'hi' =='bye'

False

In [45]:
1<2 and 2<2

False

In [46]:
1<2 and 2<3

True

In [47]:
1<2 or 2<2

True

In [49]:
if 1<2:
    print('yep!')

yep!

In [51]:
if 1==2: 
    print('f')
elif 3==3:
    print('m')
else: 
    print('last')

m