In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

In [3]:
print("Map")

Map

In [4]:
seq = list(range(0,5))

In [5]:
seq

[0, 1, 2, 3, 4]

In [8]:
list(map(times2, seq))

[0, 2, 4, 6, 8]

In [9]:
print('Lambda Expression')

Lambda Expression

In [12]:
t = lambda var: var*2

In [13]:
t(6)

12

In [16]:
list(map(lambda num: num*3, seq))

[0, 3, 6, 9, 12]

In [17]:
print("Filter")

Filter

In [18]:
list(filter(lambda num:num%2 == 0, seq))

[0, 2, 4]

In [19]:
s = 'hey'

In [20]:
s.upper()

'HEY'

In [21]:
s.lower()

'hey'

In [22]:
s.capitalize()

'Hey'

In [24]:
s = "hey, what's up?"
s.split()

['hey,', "what's", 'up?']

In [25]:
tweet = 'Go Lebron! #Cavs'

In [26]:
tweet.split('#')[1]

'Cavs'

In [27]:
d = {'k1': 1, 'k2': 2}

In [29]:
d.values()

dict_values([1, 2])

In [30]:
lst = list(range(0,4))
lst.pop()

3

In [31]:
lst

[0, 1, 2]

In [32]:
'x' in [1,2,3]

False

In [33]:
'x' in ['x', 'y', 'z']

True

In [34]:
x = [(2,3),(4,5),(6,7)]

In [37]:
for (item) in x:
    print(item)

(2, 3)
(4, 5)
(6, 7)

In [38]:
for (a,b) in x:
    print(a)

2
4
6